<div class='list'>


  <a  class='pull-right' href='/todolists'> <span class='glyphicon glyphicon-remove'></span> </a>
  <h1> <%= list.name %> </h1>

  <hr>


  <div class='todo-element'>
    <ul>
      <li> ID : <%= list._id%></li>
      <li> Name : <%= list.name%></li>
      <li> Color : <%= list.color%></li>
    </ul>
  </div>

  <nav class='nav navbar-default right'>
    <div class='collapse navbar-collapse pull-right'>
      <ul class='navbar navbar-nav'>
        <li>
          <a href='/todolists/<%= list._id%>/edit'>
            <button class='btn btn-primary'><span class='glyphicon glyphicon-pencil'></span> Edit</button>
          </a>
        </li>

        <li>
          <form method="POST" action="?_method=DELETE">
            <button type="submit" class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span> Delete</button>
          </form>
        </li>

      </ul>
    </div>
  </nav>
</div>
