<h1> <%= todo.name %> </h1>

</div>
    <ul>
      <li> ID : <%= todo._id%></li>
      <li> Name : <%= todo.name%></li>
      <li> Description : <%= todo.description%></li>
      <li> Completed : <%= todo.completed%></li>
  </ul>
</div>

<form method="POST" action="?_method=DELETE">
  <button type="submit">Delete resource</button>
</form>
